.idea/
.git/

.github/
docker/
!docker/production/entrypoint.d
!docker/production/inject.sh

node_modules/

database/*.sqlite
storage/app/*
!storage/app/templates*
storage/fonts/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

tests/
vendor/

.dockerignore
.devenvconfig
.editorconfig
.env
.env.testing
.eslintrc.mjs
.gitattributes
.gitignore
.prettierrc.json
devenv

CODE_OF_CONDUCT.md
Dockerfile
*.Dockerfile
LICENSE
Makefile
SECURITY.md
_ide_helper.php
crowdin.yml
invoiceshelf.code-workspace
package-lock.json
phpunit.xml
readme.md
