.dev/
.git/
.github/
database/*.sqlite
node_modules/
storage/app/*
storage/fonts/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests/
vendor/

.dockerignore
.editorconfig
.env
.env.example
.env.testing
.eslintrc.mjs
.gitattributes
.gitignore
.prettierrc.json
CODE_OF_CONDUCT.md
Dockerfile
*.Dockerfile
LICENSE
Makefile
SECURITY.md
_ide_helper.php
crowdin.yml
invoiceshelf.code-workspace
package-lock.json
phpunit.xml
readme.md
version.md
