:root {
    --color-primary-50: 228, 242, 251;
    --color-primary-100: 189, 222, 247;
    --color-primary-200: 149, 201, 242;
    --color-primary-300: 110, 180, 236;
    --color-primary-400: 83, 164, 233;
    --color-primary-500: 61, 149, 230;
    --color-primary-600: 55, 136, 216;
    --color-primary-700: 48, 118, 197;
    --color-primary-800: 42, 101, 179;
    --color-primary-900: 32, 72, 148;
    --color-primary-950: 26, 58, 122;
}

