*

# track selected core files in the devcontainer
!.gitignore
!devcontainer.recommended.json
!docker-compose.mysql.yml
!docker-compose.pgsql.yml
!docker-compose.sqlite.yml
!Dockerfile
!Dockerfile.old
!postCreateCommand.sh
!README.md

# track devcontainer README static files
!static/
!static/**

# IDE specific files
!.vscode/
!.vscode/**